*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container{
    width: 600px;
    height: 350px;
    background-color:#e5eaf5;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.section-1{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.section-1 h4{
    color: grey;
    font-weight: 500;
}
.section-1 h3{
    color: grey;
    font-weight: 500;
}
.section-2{
    display: flex;
    column-gap: 2px;
}
.image{
    width: 200px;
    height: 280px;
    background-color:#d0bdf4 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 200px;
    height: 250px;
}
.details{
    width: 400px;
    height: 280px;
    background-color:#d0bdf4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.title h2{
    font-weight: 400;
}
.title h4{
    font-weight: 300;
    color: grey;
}
.price h1{
    font-weight: 200;
    font-size: xx-large;
    color: #a28089;
}
.fw-buttons{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    
}
button{
    padding: 10px;
    background-color: #8458B3;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: white;
}

@media screen and (min-width:300px) and (max-width:600px){
    .container{
        width: 100%;
        height: 100%;
    }
    .section-2{
        flex-direction: column;
    }
    .image{
        width: 100%;
        border-bottom: 2px solid white;
    }
    .details{
        width: 100%;
    }
    .image img{
        width: 250px;
    }
}